<mat-card>
    <mat-card-content>
  
  <h1 style="margin-left: 200px;"><b><u>To Do List</u></b></h1>
  <form class="example-form">
    
  
    <mat-form-field class="example-full-width">
      <mat-label>Add Task</mat-label>
      <input matInput placeholder="Ex. Read Book.." name="task" #task onfocus="this.value=''" (focus)="clearDisplayString()" >
    </mat-form-field>
  </form>
  
  <br>
  
  <button style="margin-left: 390px; "  (click)="addtask(task.value)" (click)="displayValue('Task is added successfully!!!')"  mat-raised-button color="primary" [disabled]="!task.value">Add Task</button>
  <h3>{{display}}</h3>
  
  @for(i of taskdetail;track i)
  {
    
    <mat-list>
      
      <mat-list-item>{{i.name}}
        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" style="float: right;">
          <mat-button-toggle style="color: rgb(176, 49, 49);" value="bold" (click)="Remove(i.id)">Remove</mat-button-toggle>
          
          <mat-button-toggle style="color: black;" value="underline" (click)="updateTask(i.id, task.value)">Update</mat-button-toggle>
        </mat-button-toggle-group>
         </mat-list-item> <br>
      <mat-divider></mat-divider>
    </mat-list>
  } 
  </mat-card-content>
  </mat-card>
<br><br>
  <h1 style="margin-left: 550px;">Total Task : {{taskee}}</h1>

  