
<mat-card>
  <mat-card-content>

<h1>To do list</h1>
<input type="text" placeholder="Enter your task" name="task" #task onfocus="this.value=''"> <br>
<br>

<button (click)="addtask(task.value)"  mat-raised-button color="primary" >Add Task</button>

@for(i of taskdetail;track i)
{
  <mat-list>
    <mat-list-item>{{i.name}} <button (click)="Remove(i.id)"   mat-raised-button color="warn">Remove</button></mat-list-item> <br>
    <mat-divider></mat-divider>
  </mat-list>
}
</mat-card-content>
</mat-card>

<hr>

<h3><u>Pass data from parent to child</u></h3>
<label >Data from parent to child : </label><app-child [item]="data"></app-child>
<button (click)="updateData()" mat-raised-button color="primary" >Update data</button>

<hr>

<h3><u>Reusability of Component</u></h3>
@for(item of userdetails ; track item){
<app-child [user]="item" ></app-child>
}
<hr>




<hr>
<h3><u>Pass data from child to parent</u></h3>

<app-child2 (messageEvent)="update($event)"> </app-child2>
<h3>{{pass}}</h3>

<hr>

<h3><u>Two way binding</u></h3>
<input type="text" [(ngModel)]="name">
<h4>{{name}}</h4>

<hr>
<h3><u>Template Reference Variable</u></h3>
<input type="text" #id placeholder="Enter Your Name" name="name">
<input type="text" #id placeholder="Enter Your Name" name="name">
<button (click)="getData(id.value)">Give Value</button>

<hr>

<h3><u> Basic Pipes In Angular</u></h3>
<h2>{{title | uppercase}} </h2>
<h2>{{title | lowercase}} </h2>
<h2>{{date | date:'fullDate'}} </h2>
<h2>{{date | date}} </h2>

<hr>
 
<h3><u>Advance Pipes</u></h3>
<h4>{{title | slice : 2}}</h4>
<h4>{{title | slice : 2:5}}</h4>
<h4>{{title | uppercase | slice :2}}</h4>
<h4>{{userdetails | json}}</h4>
<h4>{{544.23 |  number : '6.4-5'}}</h4>
<h4>{{20 | currency: 'INR'}}</h4>
<hr>

<h3><u>Custom Pipes</u></h3>
<h4>{{340 | currency}}</h4>


<hr>
<div>
  <h2>Parent Component</h2>
  <input [value]="parentImageUrl"  placeholder="Image URL" onfocus="this.value=''" #id1>
  <input [value]="parentImageDescription"  placeholder="Image Description" onfocus="this.value=''" #id2>
  <button (click)="sendDataToChild(id1.value , id2.value)">Send Data to Child</button>
  <br><br><br>
  <app-task1
    [childImageUrl]="id1.value"
    [childImageDescription]="id2.value"
  ></app-task1>
</div>

<br><br><br>
<hr>

<h3><u>Template Driven Form</u></h3>

<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
  <label>Name : </label> <input type="text" placeholder="Enter your Name" name="user" ngModel> <br><br>
  <label>Password : </label> <input type="password" placeholder="Enter your password" name="password" ngModel> <br><br>
  <button >Submit</button>
</form>


<h3><u>Reactive Form</u></h3>
<form [formGroup]="loginform" (ngSubmit)="getReactiveForm()">
  <input type="text" placeholder="Enter Name" formControlName="user"><br>
  @if(user && user.invalid && user.touched){
    <span style="color: red;">This is not valid</span> }
  <br>
  <input type="email" placeholder="Enter Email" formControlName="email">
  <br>
  @if(email && email.invalid && email.touched){
    <span style="color: red;">This is not Email</span> }
  <br>
  <button [disabled]="loginform.invalid">Submit</button>
</form>
<br><br>
<hr>
<h3><u>Basic Routing</u></h3>
<a href="user">user</a> <br>
<a href="about">about</a>

<router-outlet></router-outlet>

<h3><u>Dynamic Routing</u></h3>
<a href="user/10">Siddhi</a> <br>
<a href="user/20">Vedika</a><br>
<a href="user/30">Swara</a><br>



<router-outlet></router-outlet>
<br><br><br><hr>

<h3><u>404 page | wildcard </u></h3>

<a href="user">user</a> <br>
<a href="about">about</a>

<router-outlet></router-outlet>

<h3><u>Services</u></h3>
@for(i of users ; track i)
{
  <u>
    <li>{{i.name}} : {{i.email}}</li>
  </u>
}

<app-no-page></app-no-page>