
<mat-card>
  <mat-card-content>

<h1>To do list</h1>
<input type="text" placeholder="Enter your task" name="task" #task onfocus="this.value=''"> <br>
<br>

<button (click)="addtask(task.value)"  mat-raised-button color="primary" >Add Task</button>

@for(i of taskdetail;track i)
{
  <mat-list>
    <mat-list-item>{{i.name}} <button (click)="Remove(i.id)"   mat-raised-button color="warn">Remove</button></mat-list-item> <br>
    <mat-divider></mat-divider>

  </mat-list>
}
</mat-card-content>
</mat-card>

<hr>

<h3><u>Pass data from parent to child</u></h3>
<label >Data from parent to child : </label><app-child [item]="data"></app-child>
<button (click)="updateData()" mat-raised-button color="primary" >Update data</button>

<hr>

<h3><u>Reusability of Component</u></h3>
@for(item of userdetails ; track item){
<app-child [user]="item" ></app-child>
}

