<h1>Hello, {{ title }}</h1>
<app-user></app-user>
<app-login> </app-login>
<h3> <u>Basic Function Call </u></h3>
<button (click)="getName('Siddhi')">Click Me</button>
<button (click)="getNumber(123)">Submit</button>
<hr/>
<h3><u>Events in Angular </u></h3>
<label>Enter Value</label> <input type="text" #box (keyup)="getData(box.value)" placeholder="Event KeyUp">
<br/><br/>
<label>Enter Value</label> <input type="text" #box1 (keydown)="getData(box1.value)" placeholder="Event Keydown">
<br/><br/>
<label>Enter Value</label> <input type="text" #box2 (blur)="getData(box2.value)" placeholder="Event blur">
<br/><br/>
<label>Enter Value</label> <input type="text" #box3 (input)="getData(box3.value)" placeholder="Event input">
<h2 (mouseover)="getData('over')">Mouseover Event</h2>
<h2 (mouseleave)="getData('leave')">Mouseleave Event</h2>
<hr/>

<h3><u>Get Input Box Value and Display</u></h3>

<input type="text" #box4 (keyup)="getValue(box4.value)" placeholder="Enter the name" name="name">
<p>value : {{displayVal}}</p>
<br/>
<br/>
<input type="text" #b placeholder="Enter">
<button (click)="getValue(b.value)">click</button>
<p>Button Value :{{displayVal}}</p>

<hr/>
<h3><u>Counter Example</u></h3>
<button (click)="getCount('minus')">--</button>
<p>cout : {{count}}</p>
<button (click)="getCount('add')">++</button>

<hr/>
<h3><u>If Else</u></h3>


@if(isDrivelicen)
{
    <div>Person can drive</div>
}
@else{
    <div>Person can not drive</div>
}

<h3><u>Nested If else</u></h3>

@if(color=='blue')
{
    <h4 style="color: blue;">Hiiii</h4>
}
@else if(color=='black')
{
    <h4 style="color: blueviolet;">Hiii</h4>
}
@else{
    <h4 style="color: orange;">Hiii</h4>
}

<hr/>
<h3><u>Switch Case</u></h3>
<!-- <input type="text" #s placeholder="Enter the value"> <button (click)="getSwitch(s.value)">click</button> -->

@switch(selection)
{
    @case(1){
        <div>1</div>
    }
    @case(100){
        <div>100</div>
    }
    @default{
        <div>default</div>
    }
}

<hr/>
<h3><u>For Loop</u></h3>

<div> languges are : </div>
@for(item of items ; track item)
{
    {{item}},
}
<br/> <br/>

<ul>
    Courses are : 
    @for (course of courses; track course) {
      <li>
    {{ course.name }}
</li>
        }
</ul>

<h3><u>Nested For Loop</u></h3>

   
@for(d of studentdetail;track d){
    <p>Name: {{d.name}} -> Age: {{d.age}}</p>
    @for(g of d.social;track g){
    <ul> <li>{{g}}</li></ul>
    } }
   
    <hr/>
  <h3><u>Style Binding</u></h3>

  <h1 [style.color]="color1" [style.backgroundColor]="bgColor"> Hello EveryOne</h1> 

<button (click)="updateColor()">Update Color</button>
